# Code Samples From Large Group

Place your notes and code samples from large group here. Your professor will share with you his code from large group.

In [1]:
print("hi")

hi

In [4]:
print("Mike is awesome")

Mike is awesome

In [8]:
input("What is your name")

What is your name sdafsdf

'sdafsdf'

In [10]:
name = input("Enter your name")
print("Hello", name)

Enter your name Mike

Hello Mike

In [13]:
major = input("What is your major")
gpa = input("What is your gpa")
statement = "People in " + major + " usually don't have a GPA of " + gpa
print(statement)

What is your major Mike
What is your gpa 3.6

People in Mike usually don't have a GPA of 3.6

In [14]:
statement

"People in Mike usually don't have a GPA of 3.6"

In [15]:
gpa

'3.6'

In [17]:
major = input("What is your major")
gpa = input("What is your gpa")
statement = f"People in {major} ususally don't have a gpa of {gpa}"
print(statement)

What is your major mike
What is your gpa 24

People in mike ususally don't have a gpa of 24

In [18]:
price = input("How much does the orange cost? (each)")
qty = input("How many oranges did you buy?")
total = price * qty
print(f"Total Price is ${total}")

How much does the orange cost? (each) 1.00
How many oranges did you buy? 10

TypeError: can't multiply sequence by non-int of type 'str'

In [19]:
type(qty)

str

In [22]:
"1.00" * "10"

TypeError: can't multiply sequence by non-int of type 'str'

In [23]:
1.00 * 10

10.0

In [24]:
type(price)

str

In [25]:
float(price)

1.0

In [26]:
price

'1.00'

In [27]:
"mike"

'mike'

In [28]:
'mike'

'mike'

In [29]:
essay = '''
sjkdah flksjdahf kljashd flkj shdafsa
dfhsad fjsgdk fhsadjk fghsadfh asdjfgsjkadfghsdaf
sadfsgd kfghsa dkjfgh skajd fgjksda kj sghdafjsghda fkjsdaf
sad fgkasjd fgkjsa ghdfjksghdafkjgh sadfjskaghdfkjashd
sadj fghaskasdf sadj fgsdafh
'''
print(essay)

sjkdah flksjdahf kljashd flkj shdafsa
dfhsad fjsgdk fhsadjk fghsadfh asdjfgsjkadfghsdaf
sadfsgd kfghsa dkjfgh skajd fgjksda kj sghdafjsghda fkjsdaf
sad fgkasjd fgkjsa ghdfjksghdafkjgh sadfjskaghdfkjashd
sadj fghaskasdf sadj fgsdafh

In [30]:
email = f'''
Dear {student}:

I hope this email finds you well.
You grade of {grade} is fine.

Sicnjksdghf
'''

NameError: name 'student' is not defined

In [32]:
price = float(input("How much does the orange cost? (each)"))
qty = float(input("How many oranges did you buy?"))
total = price * qty
print(f"Total Price is ${total}")

How much does the orange cost? (each) 2.50
How many oranges did you buy? 5

Total Price is $12.5

In [33]:
price = float(input("How much does the orange cost? (each)"))
qty = float(input("How many oranges did you buy?"))
total = price * qty
print(f"Total Price is ${total:.2f}")

How much does the orange cost? (each) 2.5
How many oranges did you buy? 10

Total Price is $25.00

In [34]:
#
# This code came from Chat GPT
#  INPUT: write a python program to add up 10 numbers that I input
#  OUTPUT: 
# Initialize a variable to store the sum
total_sum = 0

# Loop to get 10 numbers from the user
for i in range(10):
    # Take input from the user and convert it to a float
    number = float(input(f"Enter number {i+1}: "))
    
    # Add the number to the total sum
    total_sum += number

# Output the total sum
print(f"The total sum of the numbers is: {total_sum}")

Enter number 1:  10
Enter number 2:  1
Enter number 3:  10
Enter number 4:  2
Enter number 5:  10
Enter number 6:  5
Enter number 7:  10
Enter number 8:  2
Enter number 9:  1
Enter number 10:  1

The total sum of the numbers is: 52.0

In [ ]:
print = "hi"