# Code Samples From Large Group

Place your notes and code samples from large group here.

In [1]:
student = {
    "name": "axel",
    "gpa": 3.45,
    "major": "bio",
    "undergrad": True,
    "courses": [ "IST195", "BIO222", "PHL101" ]
}

In [2]:
print(student)

{'name': 'axel', 'gpa': 3.45, 'major': 'bio', 'undergrad': True, 'courses': ['IST195', 'BIO222', 'PHL101']}

In [4]:
student["gpa"]

3.45

In [5]:
student["name"]

'axel'

In [6]:
# change value under dictionary key
student["gpa"] = 3.9

In [7]:
student

{'name': 'axel',
 'gpa': 3.9,
 'major': 'bio',
 'undergrad': True,
 'courses': ['IST195', 'BIO222', 'PHL101']}

In [8]:
student["newname"] = "axle"

In [9]:
student

{'name': 'axel',
 'gpa': 3.9,
 'major': 'bio',
 'undergrad': True,
 'courses': ['IST195', 'BIO222', 'PHL101'],
 'newname': 'axle'}

In [10]:
# remove a key from the dictionary
del student['newname']
student

{'name': 'axel',
 'gpa': 3.9,
 'major': 'bio',
 'undergrad': True,
 'courses': ['IST195', 'BIO222', 'PHL101']}

In [11]:
type(student["major"])

str

In [12]:
student["courses"][0]

'IST195'

In [13]:
student

{'name': 'axel',
 'gpa': 3.9,
 'major': 'bio',
 'undergrad': True,
 'courses': ['IST195', 'BIO222', 'PHL101']}

In [14]:
student["name"][0]

'a'

In [15]:
tommy = student

In [16]:
tommy["gpa"] = 3.1

In [17]:
student

{'name': 'axel',
 'gpa': 3.1,
 'major': 'bio',
 'undergrad': True,
 'courses': ['IST195', 'BIO222', 'PHL101']}

In [ ]:
# simple types
int, bool, str, float
copied
# complex / object types
dict, list
do not get copied .copy()

In [18]:
axel = student.copy()

In [19]:
axel['gpa'] = 3.9

In [20]:
axel

{'name': 'axel',
 'gpa': 3.9,
 'major': 'bio',
 'undergrad': True,
 'courses': ['IST195', 'BIO222', 'PHL101']}

In [21]:
student

{'name': 'axel',
 'gpa': 3.1,
 'major': 'bio',
 'undergrad': True,
 'courses': ['IST195', 'BIO222', 'PHL101']}

In [22]:
student["dorm"]

KeyError: 'dorm'

In [23]:
student.keys()

dict_keys(['name', 'gpa', 'major', 'undergrad', 'courses'])

In [24]:
"dorm" in student.keys()

False

In [25]:
# soft get() ask for the value under the key, if not exist do not throw error
student.get("dorm")

In [26]:
student.get("gpa")

3.1

In [27]:
# soft get() with a default:
student.get("dorm", "No Dorm!")

'No Dorm!'

In [28]:
student.items()

dict_items([('name', 'axel'), ('gpa', 3.1), ('major', 'bio'), ('undergrad', True), ('courses', ['IST195', 'BIO222', 'PHL101'])])

In [29]:
# this is the proper way to use the items() iterator over a dict type
for key, val in student.items():
    print(f"{key} ==> {val}")

name ==> axel
gpa ==> 3.1
major ==> bio
undergrad ==> True
courses ==> ['IST195', 'BIO222', 'PHL101']

In [30]:
students = [     
    { 'name':'bob','gpa':3.4 },   
    { 'name':'sue','gpa':2.8 },  
    { 'name':'kent','gpa':4.0 }  
]

In [31]:
type(students)

list

In [33]:
students[-1]

{'name': 'kent', 'gpa': 4.0}

In [34]:
students[-1]["gpa"]

4.0

In [35]:
students

[{'name': 'bob', 'gpa': 3.4},
 {'name': 'sue', 'gpa': 2.8},
 {'name': 'kent', 'gpa': 4.0}]

In [36]:
# more realistic example
# SELECT name, gpa from students WHERE gpa < 3.0
for s in students:
    if s['gpa'] < 3.0:
        name = s["name"]
        gpa = s["gpa"]
        print(f"{name}, {gpa}")

sue, 2.8

In [51]:
with open("students.json", "r") as f:
    studentdata = f.read()

In [52]:
studentdata

'[\n    {"name": "bob", "gpa": 3.4},\n     {"name": "sue", "gpa": 2.8},\n     {"name": "kent", "gpa": 4.0},\n     {"name": "steve", "gpa": 2.7},\n     {"name": "mary", "gpa": 3.2},\n     {"name": "deb", "gpa": 2.1}\n]'

In [53]:
type(studentdata)

str

In [54]:
# parsing  take data and structure it
import json

In [55]:
students = json.loads(studentdata)

In [56]:
type(studentdata)

str

In [57]:
type(students)

list

In [59]:
students[2]['name']

'kent'

In [60]:
# SELECT name, gpa from students WHERE gpa < 3.0
for s in students:
    if s['gpa'] < 3.0:
        name = s["name"]
        gpa = s["gpa"]
        print(f"{name}, {gpa}")

sue, 2.8
steve, 2.7
deb, 2.1

In [61]:
#take a string in JSON format and
# returns the python object equivalent
x = json.loads("""
 { "name": "mike", "age": 53, "happy": true }
""")

In [63]:
x["happy"]

True

In [64]:
'''
    read europe.json
    deserialize the string JSON into a python list
    loop over the list
        print country name and capital from country in list
'''

'\n    read europe.json\n    deserialize the string JSON into a python list\n    loop over the list\n        print country name and capital from country in list\n'

In [67]:
with open("europe.json","r") as f:
    # read in raw data into string
    data = f.read()
    # turn the string JSON into a python object
    countries = json.loads(data)
    # loop over each country
    location = "Western Europe"
    for country in countries:
        if country["subregion"] == location:
            name = country["name"]
            cap = country["capital"]
            print(cap, name)

Vienna Austria
Brussels Belgium
Paris France
Berlin Germany
Vaduz Liechtenstein
Luxembourg Luxembourg
Monaco Monaco
Amsterdam Netherlands
Bern Switzerland