# Code Samples From Large Group

Place your notes and code samples from large group here.

In [1]:
import requests

In [6]:
url = "https://cent.ischool-iot.net/api/funnyname/random"
print(url)

https://cent.ischool-iot.net/api/funnyname/random

In [12]:
# Standard Requests Boilerplate
response = requests.get(url) # Makes the request to URL over the web using the "get" method
response.raise_for_status()  # Throw an exception if status_code is not 2xx
data = response.json()       # de-serializing the response to a python variable
data                         # vary based on data structure

[{'first': 'Buck', 'last': 'Naked'}]

In [13]:
first_name = data[0]['first']
last_name = data[0]['last']
print(first_name, last_name)

Buck Naked

In [25]:
import requests
search = input("Search Google Places for:")

url = "https://cent.ischool-iot.net/api/google/places/textsearch"
headers = {
    "accept": "application/json",
    "X-API-KEY": "0f92bf60ff8c50f7e6929e57"
}
params = { "query": search }
response = requests.get(url, headers=headers, params=params)
response.raise_for_status()
data = response.json()

Search Google Places for: Sushi places in Syracuse, NY

In [28]:
for result in data["results"]:
    print(result["name"], result["rating"])

Sakana-Ya Sushi Bar 4.3
Ocean Sushi 2 4.6
Aloha Japanese Bento 4.6
AT Sushi Japanese Restaurant 4.5
Secret Garden 4.3
Firudo Asian Food & Bar 食为天餐厅 4.1
Umi Sushi and Hibachi 4.8
Koto Japanese Steakhouse & Sushi 4
Bleu Monkey Cafe 4.1
Taichi Bubble Tea, Ramen and Poke Bowl - Syracuse 4.3
Yamasho sushi steakhouse 4.6
Sake Japan Hibachi & Ramen 2.9
Mitsuba Ramen Noodle 4.2
Asahi Japanese Restaurant 3.3
Inka’s 4.9
Oishi Restaurant 3.8
Spoon & Chopsticks Express Korean Cuisine 4.5
Poke Fish 4.5

In [29]:
result

{'business_status': 'OPERATIONAL',
 'formatted_address': '129 Marshall St #2fl, Syracuse, NY 13210, United States',
 'geometry': {'location': {'lat': 43.0418914, 'lng': -76.1358535},
  'viewport': {'northeast': {'lat': 43.04310877989272,
    'lng': -76.13452722010729},
   'southwest': {'lat': 43.04040912010728, 'lng': -76.13722687989272}}},
 'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/restaurant-71.png',
 'icon_background_color': '#FF9E67',
 'icon_mask_base_uri': 'https://maps.gstatic.com/mapfiles/place_api/icons/v2/restaurant_pinlet',
 'name': 'Poke Fish',
 'opening_hours': {'open_now': True},
 'photos': [{'height': 4080,
   'html_attributions': ['<a href="https://maps.google.com/maps/contrib/107887630577194609792">Kristine Witherbee</a>'],
   'photo_reference': 'AeeoHcL8v_2UEKx7AxXkYtBstC30RhEav9Sj346F6wczo67Y83Ynx-Km9IYLH7wSFXHpeZugnVraM3AYOdgZ7W9JfX6_IucKqNHaVFbasC3w3qItpAEs6aeNbzuyPOH-rRDDlr_BNs3iarM9lg--DF5Akchn0Gh35GrW1IHn1UEzhnBj9mxLqKODocT1hcKTA0M97L9THEYz73NHKRtxc3CH6zcDLN-BUsaXyXhSJZuy7bXP3EVxpe3gmOb-ShL2WUDTVgCjqOGX_RZF2eBzVFiyvsPhdxAWgFZhE9Z-jgeQy23lDRh7dr4',
   'width': 3072}],
 'place_id': 'ChIJUTrygArz2YkRAj63x8dkd-s',
 'plus_code': {'compound_code': '2VR7+QM Syracuse, New York',
  'global_code': '87M52VR7+QM'},
 'rating': 4.5,
 'reference': 'ChIJUTrygArz2YkRAj63x8dkd-s',
 'types': ['restaurant', 'food', 'point_of_interest', 'establishment'],
 'user_ratings_total': 54}

In [26]:
import pandas as pd
df = pd.DataFrame(data["results"])

In [27]:
df[['name','rating']].sort_values("rating", ascending=False).head(5)

                        name  rating
14                    Inka’s     4.9
6      Umi Sushi and Hibachi     4.8
10  Yamasho sushi steakhouse     4.6
1              Ocean Sushi 2     4.6
2       Aloha Japanese Bento     4.6