# Code Samples From Large Group

Place your notes and code samples from large group here.

In [3]:
import pandas as pd
import numpy as np

In [ ]:
# get the files we need to complete this large group
!curl https://raw.githubusercontent.com/mafudge/datasets/master/json-samples/orders.json -o orders.json
!curl https://raw.githubusercontent.com/mafudge/datasets/master/delimited/jan-orders.csv -o jan-orders.csv
!curl https://raw.githubusercontent.com/mafudge/datasets/master/delimited/feb-orders.csv -o feb-orders.csv
!curl https://raw.githubusercontent.com/mafudge/datasets/master/delimited/mar-orders.csv -o mar-orders.csv
!curl https://raw.githubusercontent.com/mafudge/datasets/master/delimited/apr-orders.csv -o apr-orders.csv
!curl https://raw.githubusercontent.com/mafudge/datasets/master/delimited/bbplayers.csv -o bbplayers.csv
!curl https://raw.githubusercontent.com/mafudge/datasets/master/delimited/bbteams.csv -o bbteams.csv

In [4]:
df = pd.read_csv("jan-orders.csv")
df

   order_id  order_date  order_amount
0      1023  2024-01-05          56.9
1      1024  2024-01-17         146.7
2      1025  2024-01-25          36.4

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   order_id      3 non-null      int64
 1   order_date    3 non-null      object
 2   order_amount  3 non-null      float64
dtypes: float64(1), int64(1), object(1)
memory usage: 204.0+ bytes

In [7]:
df.describe()

       order_id  order_amount
count       3.0      3.000000
mean     1024.0     80.000000
std         1.0     58.666259
min      1023.0     36.400000
25%      1023.5     46.650000
50%      1024.0     56.900000
75%      1024.5    101.800000
max      1025.0    146.700000

In [9]:
df

   order_id  order_date  order_amount
0      1023  2024-01-05          56.9
1      1024  2024-01-17         146.7
2      1025  2024-01-25          36.4

In [11]:
for i,row in df.iterrows():
    if row["order_amount"] > 50:
        print(f"Order is {row['order_id']} is a big order. Amount {row['order_amount']}")

Order is 1023 is a big order. Amount 56.9
Order is 1024 is a big order. Amount 146.7