In [1]:
import pandas as pd

### Watch Me Code 4

Read in credit cards: https://raw.githubusercontent.com/mafudge/datasets/master/credit-cards/credit_cards.txt

create a custom function() issuer, similar to the lesson 05 lab.

apply() theissuer() function to each row to generate a new column "issuer"

In [2]:
def issuer(card: str) -> str:
    card = str(card)
    first_digit = card[0]
    if first_digit == "6":
        return "DISC"
    if first_digit == "5":
        return "MC"
    if first_digit == "4":
        return "VISA"
    if first_digit == "3":
        return "AMEX"

    return "Unknown"


assert issuer("5295474999519325") == "MC"
assert issuer("4584857473589512") == "VISA"
assert issuer("6011687948781644") == "DISC"
assert issuer(364733448466728) == "AMEX"

In [4]:
df = pd.read_csv("https://raw.githubusercontent.com/mafudge/datasets/master/credit-cards/credit_cards.txt", sep=" ", header=None)
df.columns = ["card", "exp"]
df.head()

               card      exp
0  6011325926714465  02/2023
1  6011687948781644  02/2023
2  4567958456643465  07/2022
3  4235823774487478  03/2023
4  4982444199283999  12/2022

In [5]:
df['issuer'] = df.apply(lambda row: issuer(row["card"]), axis=1)
df.head()

               card      exp issuer
0  6011325926714465  02/2023   DISC
1  6011687948781644  02/2023   DISC
2  4567958456643465  07/2022   VISA
3  4235823774487478  03/2023   VISA
4  4982444199283999  12/2022   VISA

In [7]:
# function extract year from mm/yyyy string
def get_year( datestring: str) -> int:
    m, y  = datestring.split("/")
    return int(y)

get_year("12/2026")

2026

In [8]:
# apply that function makeing new df column
df["year"]  = df.apply(lambda row: get_year(row['exp']) , axis=1)
df

                  card      exp issuer  year
0     6011325926714465  02/2023   DISC  2023
1     6011687948781644  02/2023   DISC  2023
2     4567958456643465  07/2022   VISA  2022
3     4235823774487478  03/2023   VISA  2023
4     4982444199283999  12/2022   VISA  2022
...                ...      ...    ...   ...
9995   352888222731772  08/2034   AMEX  2034
9996  5199814725741213  08/2034     MC  2034
9997  5219844932546556  07/2034     MC  2034
9998  5148415714228279  11/2033     MC  2033
9999  4325469121865692  03/2034   VISA  2034

[10000 rows x 4 columns]

In [9]:
df.to_csv("final_credit_cards.csv")

In [7]:
df.issuer.value_counts()

issuer
MC      3863
VISA    3645
AMEX    1496
DISC     996
Name: count, dtype: int64

In [18]:
df.issuer.value_counts(normalize=True)

issuer
MC      0.3863
VISA    0.3645
AMEX    0.1496
DISC    0.0996
Name: proportion, dtype: float64